.firstPortfolio {
    padding-top: 100px;
}

.innerBoxPortfolio {
    display: flex;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
    justify-content: center; /* Centrar los elementos en pantallas pequeñas */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}

.portfolioContainer {
    padding: 15vh 15vw 15vh 15vw;
    color: white;
}

.day .portfolioContainer {
  color: inherit;
}

.night .portfolioContainer {
  color: white;
}

.portfolio-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 35px;
    white-space: nowrap;
    color: white;
    font-family: "Lato", sans-serif;
}

.portfolio-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 90%;
    height: 2px;
    margin-left: 20px;
    background-color: #16a085;
}

.day .portfolio-heading {
  color: #364152;
}

.night .portfolio-heading {
  color: white;
}

.imageCarousel {
    height: 60vh;
}

.carouselContainer {
    width: 50%; /* Ancho estándar */
    flex: 1 1 300px; /* Comportamiento flexible: mínimo de 300px */
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.infoCarousel {
    max-width: 90%; /* Ajustar ancho */
    flex: 1 1 300px; /* Comportamiento flexible: mínimo de 300px */
    padding: 10px;
    box-sizing: border-box;
    text-align: justify; /* Justificar texto */
}

.listInfoProject {
    margin-top: 50px;
}

.sublistInfoProject {
    margin-top: 20px;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
    .infoCarousel, .carouselContainer {
        width: 100%; /* Ocupan todo el ancho */
        text-align: justify; /* Justificar contenido */
    }

    .infoCarousel ul {
        padding: 0; /* Reducir espacios innecesarios */
    }
}

@media (max-width: 480px) {
    .portfolio-heading {
        font-size: 28px; /* Reducir el tamaño de fuente */
    }

    .imageCarousel {
        height: 40vh; /* Reducir la altura del carrusel */
    }
}
