.carouselContainer {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .responsiveCarousel {
    width: 100%;
    height: auto;
  }
  
  .imageCarousel {
    object-fit: cover;
    max-height: 400px; /* Cambia según el diseño deseado */
  }
  
  .captionCarousel {
    /*background-color: rgba(0, 0, 0, 0.5);*/ /* Fondo semitransparente para los captions */
    padding: 1rem;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .imageCarousel {
      max-height: 300px; /* Ajusta para pantallas pequeñas */
    }
  }
  
  @media (max-width: 576px) {
    .captionCarousel {
      font-size: 0.8rem;
      padding: 0.5rem;
    }
  }
  