.greeting__container {
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    color: #ecf0f1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    height: auto;
    text-align: center;
    font-size: 5vw;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;

    &__object {
        display: inline;
        color: #16a085;
        font-size: 5vw;
    }

    &__text {
        position: relative;
        display: inline;
        vertical-align: middle;
        font-size: 5vw;
        padding: 5px;
    }
}

.greeting__container::before,
.greeting__container::after,
.corner-top-right,
.corner-bottom-left {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: white;
    border: 1px solid #16a085;
    box-sizing: border-box;
    display: none;
}

.greeting__container:hover::before,
.greeting__container:hover::after,
.greeting__container:hover .corner-top-right,
.greeting__container:hover .corner-bottom-left {
    display: block;
}

.greeting__container::before {
    top: -6px;
    left: -6px;
}

.greeting__container::after {
    bottom: -6px;
    right: -6px;
}

.corner-top-right {
    top: -6px;
    right: -6px;
}

.corner-bottom-left {
    bottom: -6px;
    left: -6px;
}

.greeting__container:hover {
    border: 1px solid #16a085;
}

.greeting__container:hover::before {
    top: -6px;
    left: -6px;
}

.greeting__container:hover::after {
    bottom: -6px;
    right: -6px;
}

.greeting__container:hover .corner-top-right,
.greeting__container:hover .corner-bottom-left {
    display: block;
}

@media (max-width: 768px) {
    .greeting__container {
        font-size: 8vw;
    }

    .greeting__container__object, 
    .greeting__container__text {
        font-size: 8vw;
        padding: 0 2vw;
    }
}

@media (max-width: 480px) {
    .greeting__container {
        font-size: 10vw;
    }

    .greeting__container__object, 
    .greeting__container__text {
        font-size: 10vw;
        padding: 0 1vw;
    }
}
